In [6]:
import py_entitymatching as em
import pandas as pd
import os, sys
import logging
from os.path import expanduser
import argparse

In [7]:
# Add command line arguments for path to files
parser = argparse.ArgumentParser()
parser.add_argument('path_a', help='Path to the left table', type=str)
parser.add_argument('path_B', help='Path to the right table', type = str)
parser.add_argument('path_G', help='Path to the labelled dataset', type =str)
args = parser.parse_args()

usage: __main__.py [-h] [--f1 F1]
__main__.py: error: unrecognized arguments: - - f 1   s o n g s . c s v

SystemExit: 2

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [3]:
# Set up logger
logging.basicConfig()

# Set paths
path_A = args.path_A
path_B = args.path_B
path_G = args.path_G

NameError: name 'args' is not defined

In [4]:
# Read csv file
A = em.read_csv_metadata(path_A)

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

In [5]:
#A.head()

,id,title,artist_name,year
0,0,Hawaii Blues (Album Version),Commander Cody And His Lost Planet Airmen,0
1,1,Miss Universe,Astream,0
2,2,That Special Part Of Me (Percussion Mix),Onaje Allan Gumbs,0
3,3,Thoughts Of You,Polyrhythm Addicts,2007
4,4,Americans,Eddie Izzard,2000

In [6]:
#type(A)

pandas.core.frame.DataFrame

In [7]:
em.set_key(A, 'id')

True

In [8]:
# Get the metadata that was set for table A
#em.get_key(A)

'id'

In [9]:
# Read and set metadata for table B
B = em.read_csv_metadata(path_B, key='id')

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [10]:
# Display the 'type' of B
#type(B)

pandas.core.frame.DataFrame

In [11]:
#B.head()

,id,title,year,episode,song,artists
0,0,#JustDating,2014.0,Pilot (#1.1),Wait Up (Boots of Danger),tokyo police club
1,1,#LawstinWoods,2013.0,The Incident (#1.6),This Is the End (I Dont Want You Back),bradley voorhees
2,2,#LawstinWoods,2013.0,The Loop & Rocks (#1.9)} {{SUSPENDED},Unable to Let Go,bradley voorhees+mj rhythm
3,3,#LawstinWoods,2013.0,The Neverending Day (#1.13),You Forgot My Birthday,bradley voorhees+joshua p. kennedy
4,4,#iGOTSHAPES,2012.0,Asha Rae (#1.8),Fuzzy Border,jay shepheard

In [12]:
# Get the metadata that was set for table B
em.get_key(B)

'id'

In [13]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 961593
Number of tuples in B: 734485
Number of tuples in A X B (i.e the cartesian product): 706275634605

In [14]:
# Check how data is stored in pandas
#A.dtypes

id              int64
title          object
artist_name    object
year            int64
dtype: object

In [15]:
#B.dtypes

id           int64
title       object
year       float64
episode     object
song        object
artists     object
dtype: object

In [16]:
ob = em.OverlapBlocker()

In [17]:
#tup1_temp = A.loc[A['id'] == 489695]
#print (tup1_temp)

            id     title   artist_name  year
489695  489695  Sabotage  Beastie Boys  1994

In [18]:
tup1 = A.ix[76687]

In [19]:
#tup2_temp = B.loc[B['id'] == 25112]
#print (tup2_temp)

          id                 title    year           episode      song  \
25112  25112  Beavis and Butt-Head  1993.0  Head Lice (#7.9)  Sabotage

            artists
25112  beastie boys

In [20]:
tup2 = B.ix[232514]

In [21]:
# Apply blocking to a tuple pair from the input tables on artists name and get blocking status
status = ob.block_tuples(tup1, tup2, 'artist_name', 'artists')

In [22]:
# Print the blocking status
print(status)

True

In [23]:
# Apply blocking to a tuple pair from the input tables on artists and get blocking status
status = ob.block_tuples(A.ix[0], B.ix[0], 'artist_name', 'artists')
print(status)

True

In [24]:
#A.ix[0]

id                                                     0
title                       Hawaii Blues (Album Version)
artist_name    Commander Cody And His Lost Planet Airmen
year                                                   0
Name: 0, dtype: object

In [25]:
#B.ix[0]

id                                 0
title                    #JustDating
year                            2014
episode                 Pilot (#1.1)
song       Wait Up (Boots of Danger)
artists            tokyo police club
Name: 0, dtype: object

In [26]:
sample_A, sample_B = em.down_sample(A, B, 15000, 1.5, show_progress=True, verbose=True)

0%                          100%
[##############################] | ETA: 00:49:07 | ETA: 00:44:57 | ETA: 00:36:43 | ETA: 00:31:40 | ETA: 00:28:11 | ETA: 00:25:20 | ETA: 00:23:09 | ETA: 00:21:41 | ETA: 00:20:26 | ETA: 00:19:03 | ETA: 00:17:52 | ETA: 00:16:43 | ETA: 00:15:35 | ETA: 00:14:34 | ETA: 00:13:37 | ETA: 00:12:39 | ETA: 00:11:40 | ETA: 00:10:43 | ETA: 00:09:48 | ETA: 00:08:54 | ETA: 00:07:57 | ETA: 00:07:02 | ETA: 00:06:10 | ETA: 00:05:17 | ETA: 00:04:23 | ETA: 00:03:30 | ETA: 00:02:37 | ETA: 00:01:45 | ETA: 00:00:52 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:26:25

C1 = ob.block_tables(A, B, 'artist_name', 'artists', word_level=True, overlap_size=1, 
                    l_output_attrs=['id', 'title', 'artist_name', 'year'], 
                    r_output_attrs=['id', 'title', 'year', 'episode', 'song', 'artists'],
                    show_progress=True)

In [26]:
%store sample_A

UsageError: Unknown variable 'sample_A'

In [27]:
%store sample_B

UsageError: Unknown variable 'sample_B'

In [28]:
#sample_A.head()

NameError: name 'sample_A' is not defined

In [29]:
#sample_B.head()

NameError: name 'sample_B' is not defined

In [31]:
#sample_B.head()

NameError: name 'sample_B' is not defined

In [32]:
#ob.stop_words

['a',
 'an',
 'and',
 'are',
 'as',
 'at',
 'be',
 'by',
 'for',
 'from',
 'has',
 'he',
 'in',
 'is',
 'it',
 'its',
 'on',
 'that',
 'the',
 'to',
 'was',
 'were',
 'will',
 'with']

In [33]:
stop = ['de', 'del', 'du', 'of', 'la', 'le']

In [34]:
for word in stop:
    ob.stop_words.append(word)

In [35]:
ob.stop_words

['a',
 'an',
 'and',
 'are',
 'as',
 'at',
 'be',
 'by',
 'for',
 'from',
 'has',
 'he',
 'in',
 'is',
 'it',
 'its',
 'on',
 'that',
 'the',
 'to',
 'was',
 'were',
 'will',
 'with',
 'de',
 'del',
 'du',
 'of',
 'la',
 'le']

In [36]:
C1 = ob.block_tables(sample_A, sample_B, 'artist_name', 'artists', rem_stop_words=True, word_level=True, overlap_size=2, l_output_attrs=['id', 'title', 'artist_name', 'year'], r_output_attrs=['id', 'title', 'year', 'episode', 'song', 'artists'], show_progress=True)

NameError: name 'sample_A' is not defined

In [37]:
#C1.head()

NameError: name 'C1' is not defined

In [38]:
print ('Number of tupes of blocking tables:' + str(len(C1)))

NameError: name 'C1' is not defined

In [39]:
%store C1

UsageError: Unknown variable 'C1'

In [40]:
S = em.sample_table(C1, 450)

NameError: name 'C1' is not defined

In [41]:
# Set path for sampled data to label
path_label = datasets_dir + os.sep + 'sample.csv'
print (path_label)

/Users/sripradha/Documents/Sem2/CS838/CS838-Data-Science/Stage3/sample.csv

In [42]:
S.to_csv(path_label)

NameError: name 'S' is not defined

In [43]:
D = ob.block_candset(C1, 'title', 'song', rem_stop_words=True, verbose=True)

NameError: name 'C1' is not defined

In [44]:
#print (path_label)

/Users/sripradha/Documents/Sem2/CS838/CS838-Data-Science/Stage3/sample.csv

In [45]:
#print (path_A)

/Users/sripradha/Documents/Sem2/CS838/CS838-Data-Science/Stage3/songs.csv

In [46]:
# Label S
G = em.label_table(D, 'gold')

NameError: name 'D' is not defined

In [47]:
atypes1 = em.get_attr_types(A)
atypes2 = em.get_attr_types(B)

In [48]:
atypes1.keys()

dict_keys(['id', 'title', 'artist_name', 'year', '_table'])

In [49]:
atypes2['song'], atypes2['year'], atypes2['artists']

('str_bt_1w_5w', 'numeric', 'str_bt_1w_5w')

In [50]:
atypes1['title'], atypes1['year'], atypes1['artist_name']

('str_bt_1w_5w', 'numeric', 'str_bt_1w_5w')

In [51]:
block_c = em.get_attr_corres(A,B)

In [52]:
block_c.keys()

dict_keys(['corres', 'ltable', 'rtable'])

In [53]:
block_c['corres']

[('id', 'id'), ('title', 'title'), ('year', 'year')]

In [54]:
block_c['corres'] = [
 ('id', 'id'),
 ('title', 'song'),
 ('year', 'year'),
 ('artist_name', 'artists')]

In [55]:
block_c['corres']

[('id', 'id'), ('title', 'song'), ('year', 'year'), ('artist_name', 'artists')]

In [56]:
tok = em.get_tokenizers_for_blocking()

In [57]:
sim = em.get_sim_funs_for_blocking()

In [58]:
table_g_file = "sample1_labelled_new_utf.csv"
path_G = datasets_dir + os.sep + table_g_file

In [59]:
print (path_G)

/Users/sripradha/Documents/Sem2/CS838/CS838-Data-Science/Stage3/sample1_labelled_new_utf.csv

In [60]:

G = em.read_csv_metadata(path_G, 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id', encoding = 'UTF-8')

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

In [61]:
len(G)

441

In [62]:
# Split D into development set (I) and evaluation set (J)
IJ = em.split_train_test(G, train_proportion=0.7, random_state=0)
I = IJ['train']
J = IJ['test']

In [63]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

In [64]:
# Generate features
feature_table = em.get_features(A, B, atypes1, atypes2, block_c, tok, sim)

In [65]:
feature_table.feature_name

0                                   id_id_exm
1                                   id_id_anm
2                              id_id_lev_dist
3                               id_id_lev_sim
4                  title_song_jac_qgm_3_qgm_3
5              title_song_cos_dlm_dc0_dlm_dc0
6              title_song_jac_dlm_dc0_dlm_dc0
7                              title_song_mel
8                         title_song_lev_dist
9                          title_song_lev_sim
10                             title_song_nmw
11                              title_song_sw
12                              year_year_exm
13                              year_year_anm
14                         year_year_lev_dist
15                          year_year_lev_sim
16        artist_name_artists_jac_qgm_3_qgm_3
17    artist_name_artists_cos_dlm_dc0_dlm_dc0
18    artist_name_artists_jac_dlm_dc0_dlm_dc0
19                    artist_name_artists_mel
20               artist_name_artists_lev_dist
21                artist_name_artists_lev_sim
22                    artist_name_artists_nmw
23                     artist_name_artists_sw
Name: feature_name, dtype: object

In [66]:
# Convert the I into a set of feature vectors using F
H = em.extract_feature_vecs(I, 
                            feature_table=feature_table, 
                            attrs_after='gold',
                            show_progress=True)

0%                          100%
[##############################] | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:03

In [67]:
# Display first few rows
H.head(10)

,_id,ltable_id,rtable_id,id_id_exm,id_id_anm,id_id_lev_dist,id_id_lev_sim,title_song_jac_qgm_3_qgm_3,title_song_cos_dlm_dc0_dlm_dc0,title_song_jac_dlm_dc0_dlm_dc0,...,year_year_lev_sim,artist_name_artists_jac_qgm_3_qgm_3,artist_name_artists_cos_dlm_dc0_dlm_dc0,artist_name_artists_jac_dlm_dc0_dlm_dc0,artist_name_artists_mel,artist_name_artists_lev_dist,artist_name_artists_lev_sim,artist_name_artists_nmw,artist_name_artists_sw,gold
232,6928,393791,155174,0,0.394052,6,0.000000,0.060606,0.258199,0.142857,...,0.166667,0.500000,0.0,0.0,0.845238,2,0.875000,14.0,14.0,0
224,6686,563306,191430,0,0.339833,5,0.166667,0.708333,0.750000,0.600000,...,0.666667,0.081081,0.0,0.0,0.460731,58,0.134328,-45.0,8.0,1
252,7359,877636,136402,0,0.155420,6,0.000000,0.227273,0.500000,0.250000,...,0.166667,0.333333,0.0,0.0,0.762500,2,0.800000,8.0,8.0,0
254,7531,66307,565592,0,0.117235,5,0.166667,0.013333,0.000000,0.000000,...,0.166667,0.478261,0.0,0.0,0.911111,2,0.866667,13.0,13.0,1
417,12578,445657,594205,0,0.750005,5,0.166667,0.465517,0.790569,0.625000,...,0.166667,0.294118,0.0,0.0,0.851852,2,0.777778,7.0,7.0,1
106,3455,842597,302069,0,0.358498,5,0.166667,0.088889,0.182574,0.100000,...,0.333333,0.080000,0.0,0.0,0.623333,44,0.120000,-36.0,6.0,0
278,8457,835974,85514,0,0.102293,3,0.500000,0.200000,0.353553,0.200000,...,0.500000,0.357143,0.0,0.0,0.882353,3,0.823529,14.0,14.0,0
63,2300,106567,698684,0,0.152525,6,0.000000,0.169231,0.365148,0.181818,...,0.166667,0.454545,0.0,0.0,0.904762,2,0.857143,12.0,12.0,1
336,9973,870098,406733,0,0.467457,6,0.000000,0.109091,0.288675,0.142857,...,0.166667,0.127660,0.0,0.0,0.567868,27,0.270270,-15.0,10.0,0
377,10984,954605,113953,0,0.119372,6,0.000000,1.000000,1.000000,1.000000,...,0.500000,0.234043,0.0,0.0,0.513736,24,0.142857,1.0,11.0,1

In [68]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='precision', random_state=0)
result['cv_stats']

/usr/local/lib/python3.6/site-packages/scipy/linalg/basic.py:1018: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10db4c9b0>,5,0.916667,0.937500,0.871795,0.931034,0.888889,0.909177
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10db4c6d8>,5,1.000000,0.937500,0.941176,0.962963,0.969697,0.962267
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10db4c048>,5,0.916667,0.964286,0.925926,1.000000,0.851852,0.931746
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10db4c7f0>,5,1.000000,0.941176,0.914286,0.900000,0.969697,0.945032
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10db4c748>,5,0.972973,0.916667,0.914286,1.000000,0.911765,0.943138
5,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10db4c390>,5,1.000000,0.965517,0.969697,0.961538,0.968750,0.973101

In [69]:
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='recall', random_state=0)
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10db4c9b0>,5,0.891892,0.857143,0.944444,0.900000,0.969697,0.912635
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10db4c6d8>,5,0.891892,0.857143,0.888889,0.866667,0.969697,0.894857
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10db4c048>,5,0.594595,0.771429,0.694444,0.800000,0.696970,0.711487
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10db4c7f0>,5,0.945946,0.914286,0.888889,0.900000,0.969697,0.923764
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10db4c748>,5,0.972973,0.942857,0.888889,0.900000,0.939394,0.928823
5,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10db4c390>,5,0.810811,0.800000,0.888889,0.833333,0.939394,0.854485

In [96]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

In [101]:
models = [dt, svm, rf, lg, ln, nb]

def train(models):
    for model in models:
        # Train using feature vectors from I 
        model.fit(table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
        target_attr='gold')

        # Convert J into a set of feature vectors using F
        L = em.extract_feature_vecs(J, feature_table=feature_table,
                            attrs_after='gold', show_progress=False)

        # Predict on L 
        predictions = model.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)
        
        # Evaluate the predictions
        print ('Predictions of ' + model.name + ' on J')
        eval_result = em.eval_matches(predictions, 'gold', 'predicted')
        em.print_eval_summary(eval_result)
        print ('\n\n')

In [102]:
train(models)

Predictions of DecisionTree on J
Precision : 93.33% (70/75)
Recall : 93.33% (70/75)
F1 : 93.33%
False positives : 5 (out of 75 positive predictions)
False negatives : 5 (out of 58 negative predictions)



Predictions of SVM on J
Precision : 100.0% (50/50)
Recall : 66.67% (50/75)
F1 : 80.0%
False positives : 0 (out of 50 positive predictions)
False negatives : 25 (out of 83 negative predictions)



Predictions of RF on J
Precision : 98.57% (69/70)
Recall : 92.0% (69/75)
F1 : 95.17%
False positives : 1 (out of 70 positive predictions)
False negatives : 6 (out of 63 negative predictions)



Predictions of LogReg on J
Precision : 98.55% (68/69)
Recall : 90.67% (68/75)
F1 : 94.44%
False positives : 1 (out of 69 positive predictions)
False negatives : 7 (out of 64 negative predictions)



Predictions of LinReg on J
Precision : 98.59% (70/71)
Recall : 93.33% (70/75)
F1 : 95.89%
False positives : 1 (out of 71 positive predictions)
False negatives : 5 (out of 62 negative predictions)



Predictions of NaiveBayes on J
Precision : 95.52% (64/67)
Recall : 85.33% (64/75)
F1 : 90.14%
False positives : 3 (out of 67 positive predictions)
False negatives : 11 (out of 66 negative predictions)

In [84]:
# Train using feature vectors from I 
ln.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')

# Convert J into a set of feature vectors using F
L = em.extract_feature_vecs(J, feature_table=feature_table,
                            attrs_after='gold', show_progress=False)

# Predict on L 
predictions = ln.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [85]:
# Evaluate the predictions
print ('Predictions of DT on J')
eval_result = em.eval_matches(predictions, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Predictions of DT on J
Precision : 98.59% (70/71)
Recall : 93.33% (70/75)
F1 : 95.89%
False positives : 1 (out of 71 positive predictions)
False negatives : 5 (out of 62 negative predictions)